body {
    font-size: 1.2em;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.chef-image {
    width: 640px;
}

.chef-image,
.recipe-image {
    display: block;
    margin: 0 auto;
    height: auto;
}

.home-title {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.home-title,
.recipe-title {
    text-align: center;
}

.link-list li {
    text-align: center;
    list-style-type: none;
}

.link-list a {
    color: red;
    text-decoration: none;
}

.link-list a:hover {
    border-left: 5px solid red;
    padding-left: 5px;
}